<div class="row">
    <div class="col 12">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Status</th>
    <th scope="col">Localization</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ country.name }}
    </td>
    <td>{{ country.status  }}</td>
    <td>{{ country.localization  }}</td>
  </tr>
  </tbody>
</table>
</div>
</div>